.cuadroInput{
    position: absolute;
    left: 780px;
    color: white;
    border-style:solid;
    border-color: var(--color1);
    background: var(--color2);
    transform: translateX(-380%);
    /* transform: translateX(-345%); */
}

.cuadroBox{
    color: white;
    resize: none;
    position: absolute;
    text-align: center;
    border-color: var(--color1);
    background: var(--color2);
    transform: translateX(-470%);
    /* transform: translateX(-425%); */
}

td{
    padding: 0;
}

.cuadroTabla{
    resize: none;
    text-align: center;
    color: white;

    border-color: var(--color1);
    background: var(--color2);
}

/* 41719c */
/* 6596c8 */

:root{
    --color1: #41719c;
    --color2: #6596c8;

}