.cuadroInput{
    position: absolute;
    left: 780px;
    color: white;
    border-style:solid;
    border-color: rgba(65, 113, 156, 100);
    background: rgba(101, 150, 200, 100);
}

.cuadroBox{
    color: white;
    resize: none;
    position: absolute;
    text-align: center;
    border-color: rgba(65, 113, 156, 100);
    background: rgba(101, 150, 200, 100);
}

td{
    padding: 0;
}

.cuadroTabla{
    resize: none;
    text-align: center;
    color: white;
    border-color: rgba(65, 113, 156, 100);
    background: rgba(101, 150, 200, 100);
}