*{
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eedfa5;
}

/* html, body, div{
    width: 100%;
} */


#canvas{
    display: flex;
    margin: auto;
    
    /* height: 100%; */
}

iframe, .girar{
    display: flex;
    margin: auto;
}


.subTit{
    text-align: center;
    align-content: center;
    justify-self: center;
    background: #3967b1;
    color: white;
}









/* DRAG 2 */
.container {
    background-color: #333;
    /* position: absolute; */
    /* padding: 1rem; */
    /* margin-top: 1rem; */
    /* margin-right: 1rem; */
    /* width: 300PX; */
}

/* .container1{
    background-color: aqua;
    width: 350px;
    height: 126px;
    position: absolute;
    left: 60px;
    top: 78px;
}

.container2{
    
}

.container3{
    
}

.container4{
    
}

.container5{
    
} */
.draggable {
    /* padding: 1rem; */
    /* background-color: white; */
    /* border: 1px solid black; */
    /* width: 50PX; */
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}





.color{
    background-color: chartreuse;
    position: absolute;
    width: 10%;
    height: 10px;
}

