*{
    box-sizing: border-box;
}

/* body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eedfa5;
} */
/* 
html, body, div{
    width: 100%;
} */


#canvas{
    display: flex;
    margin: auto;
    
    /* height: 100%; */
}

iframe, .girar{
    display: flex;
    margin: auto;
    /* left: 50%; */
}


.subTit{
    text-align: center;
    align-content: center;
    justify-self: center;
    background: rgb(57, 103, 177);
    color: white;
}






/* ***************************************** */

/* ROMPECABEZAS */
#entorno{
    display: block;
    margin: 0 auto;
}

#fondo{
    opacity: 0.3;
}










/* ****************************************** */
/* DRAG */
.fill {
background-image: url('https://source.unsplash.com/random/150x150');
position: relative;
height: 150px;
width: 150px;
top: 5px;
left: 5px;
cursor: pointer;
}

.hold {
border: solid 5px #ccc;
}

.empty {
display: inline-block;
height: 160px;
width: 160px;
margin: 10px;
border: solid 3px salmon;
background: white;
}

.hovered {
background: #f4f4f4;
border-style: dashed;
}









/* DRAG 2 */
.container {
    
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;

    width: 300PX;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}



.total{
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-between;
    /* display: inline-block; */
}






/* ANIMALES */
#dropZone,
#animals {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 20px;
}
#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px solid #aaaaaa;
  padding: 1rem;
}
img {
  height: 200px;
  object-fit: cover;
  width: 200px;
}