*{
    box-sizing: border-box;
}

body {
    /* width: 100%; */
    margin: 0;
    padding: 0;
    background-color: #eedfa5;
}

/* html, body, div{
    width: 100%;
} */


#canvas{
    display: flex;
    margin: auto;
    
    /* height: 100%; */
}

iframe, .girar{
    display: flex;
    margin: auto;
}


.subTit{
    text-align: center;
    align-content: center;
    justify-self: center;
    background: #3967b1;
    color: white;
}









/* DRAG 2 */
.container {
    
    background-color: #ac272700;
    /* position: absolute; */
    /* padding: 1rem; */
    /* margin-top: 1rem; */
    /* margin-right: 1rem; */
    /* width: 300PX; */
}

/* .draggable.container{
    transform: scale(2,2);
} */

.draggable {
    /* padding: 0.2rem; */
    /* background-color: white; */
    /* border: 1px solid black; */
    /* width: 50PX; */
    /* transform: scale(1.5,1.5); */
    cursor: move;
    overflow: auto;
}

.draggable.dragging {
    opacity: .5;
}





.color{
    background-color: chartreuse;
    position: absolute;
    width: 10%;
    height: 10px;
}

