*{
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eedfa5;
}

/* #content
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCC00;
} */

html, body, div{
    width: 100%;
}


#canvas{
    display: flex;
    margin: auto;
    
    /* height: 100%; */
}

iframe, .girar{
    display: flex;
    margin: auto;
    /* left: 50%; */
}


.subTit{
    text-align: center;
    align-content: center;
    justify-self: center;
    background: rgb(57, 103, 177);
    color: white;
}






/* ***************************************** */

/* ROMPECABEZAS */


#entorno{
    display: block;
    margin: 0 auto;
}

#fondo{
    opacity: 0.3;
}